@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* shared styles */
.header,
.main {
  background-color: rgb(245, 245, 245);
  margin: 0;
  padding: 0 160px;
}
.main {
  padding: 80px 160px 80px 160px;
}

.btn-primary {
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 8px;
  background-color: rgb(0, 106, 80);
  border: none;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: rgb(7, 144, 110);
}

.section-title {
  margin-top: 80px;
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: left;
}

.section-description,
.news-description {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  /* text-align: left; */
  margin-top: 24px;
}

/* header styles */
.header {
  margin: 0 auto;
}

.navbar {
  background: rgb(245, 245, 245);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-title {
  font-family: Fira Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
}

.navbar-title a {
  text-decoration: none;
  color: rgb(14, 14, 14);
}

.signin a {
  text-decoration: none;
  color: rgb(0, 106, 80);
}

.signin {
  font-family: Fira Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
  /* position: static; */
  width: 116px;
  height: 52px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgb(0, 106, 80);
  border-radius: 8px;
}

.signin:hover {
  background-color: rgb(193, 221, 213);
}

/* banner styles */
.banner {
  border-radius: 24px;
  background: rgb(198, 228, 214);
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 64;
  padding: 80px 100px 80px 100px;
  margin-top: 20px;
}

.banner-content {
  width: 598px;
  height: 326px;
}

.banner-title {
  color: rgba(14, 14, 14, 0.5);
  font-family: Fira Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: left;
  margin: 0;
}

.banner-description {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0%;
  text-align: left;
  margin: 16px 0px;
}

.btn1 {
  margin-top: 8px;
  width: 270px;
  height: 56px;
}

/* main styles */

/* section-01 */

.pillars {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 32px;
}
.pillar-ttl {
  margin: 0;
}
.pillar {
  padding: 24px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
}

.pillar img {
  margin: 1px;
  margin-bottom: 25px;
}

.pillar-title {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin: 0 0 12px 0;
}

.pillar-description {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin: 0;
}

/* section-02 styles */

.visions {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin: 32px 0;
}

.vision {
  padding: 32px;
  box-sizing: border-box;
  border-radius: 16px;
}

.vision-title {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.vision-description {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.vis-btn {
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  border-radius: 8px;
  border: none;
  width: 122px;
  height: 41px;
  text-align: center;
  cursor: pointer;
}

.vis-btn:hover {
  color: rgb(65, 155, 155);
  background-color: rgb(160, 213, 204);
}

.vis-1 {
  background-color: rgba(84, 144, 245, 0.2);
}

.vis-1 > button {
  background-color: rgb(84, 144, 245);
}

.vis-2 {
  background-color: rgb(198, 228, 214);
}

.vis-2 > button {
  background-color: rgb(9, 161, 92);
}

.vis-3 {
  background-color: rgb(247, 235, 207);
}

.vis-3 > button {
  background-color: rgb(255, 194, 57);
}

/* speech-of-Yunus */

.quote-container {
  padding: 48px 24px 48px 24px;
  background-image: url("../assets/quote-bg.png");
  background-position: top left;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
}

.quote-bg {
  position: relative;
  width: 64px;
  height: 64px;
  margin: -25px 0px -30px 0px;
}

.quote-text {
  background-position: left top;
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin: -14px 0px 0px 0px;
}

.author {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin: 12px 0 0 0;
}

.title {
  color: rgba(14, 14, 14, 0.6);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin: 4px 0 0 0;
}

/* section-03 styles */

.opinion {
    padding: 32px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-top: 24px;
  }
  
  .opinion-options {
    width: 100%;
    height: 100%;
  }
  
  .opinion-head {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background-color: rgb(198, 228, 214);
    padding: 24px;
    /* width: 100%; */
    /* width: 1216px; */
    height: 72px;
    gap: 896px;
  }
  
  .opinion-body {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgba(255, 255, 255, 0.1);
  }
  
  .yes-no {
    text-align: center;
  }
  
  #Agree {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    width: 152px;
    height: 44px;
    box-sizing: border-box;
    border: 1px solid rgb(14, 14, 14);
    border-radius: 4px;
    background: rgb(198, 228, 214);
    padding: 10px;
    cursor: pointer;
  }
  
  th {
    padding: 24px;
  }
  
  td {
    padding: 24px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
  }
  
  /* section-04 news styles */
  
  .news-1 {
    display: flex;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    padding: 48px;
    margin-top: 32px;
  }
  
  .news-title {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
    margin: 0;
  }
  
  .news button {
    width: 139px;
    height: 48px;
  }
  
  .satelite {
    border-radius: 24px;
    margin-right: 32px;
    width: 408px;
    height: 306px;
  }
  
  .al-jazeera {
    width: 134px;
    height: 40px;
    margin-top: 12px;
  }
  
  .timeline {
    margin: 12px 0;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    display: flex;
    gap: 12px;
  }
  
  .news-description {
    margin: 0 0 32px 0;
  }
  
  .news-2 {
    display: flex;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    padding: 48px;
    margin-top: 32px;
  }
  
  .satelite-2 {
    border-radius: 24px;
    margin-left: 32px;
    width: 408px;
    height: 306px;
  }